@font-face {
  font-family: "icon";
  src: url("../fonts/icon.eot?lauaal");
  src: url("../fonts/icon.eot?lauaal#iefix") format("embedded-opentype"),
    url("../fonts/icon.ttf?lauaal") format("truetype"), url("../fonts/icon.woff?lauaal") format("woff"),
    url("../fonts/icon.svg?lauaal#icon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-add:before {
  content: "\e900";
}
.icon-arrow-d:before {
  content: "\e901";
}
.icon-arrow-l:before {
  content: "\e902";
}
.icon-arrow-mini:before {
  content: "\e903";
}
.icon-arrow-r:before {
  content: "\e904";
}
.icon-attention:before {
  content: "\e905";
}
.icon-basket-big:before {
  content: "\e906";
}
.icon-basket-plus:before {
  content: "\e907";
}
.icon-bath:before {
  content: "\e908";
}
.icon-bead:before {
  content: "\e909";
}
.icon-bed:before {
  content: "\e90a";
}
.icon-buy:before {
  content: "\e90b";
}
.icon-calendar:before {
  content: "\e90c";
}
.icon-calendar-upd:before {
  content: "\e90d";
}
.icon-chat:before {
  content: "\e90e";
}
.icon-chat-full:before {
  content: "\e90f";
}
.icon-check:before {
  content: "\e910";
}
.icon-close:before {
  content: "\e911";
}
.icon-comment:before {
  content: "\e912";
}
.icon-del:before {
  content: "\e913";
}
.icon-dislike:before {
  content: "\e914";
}
.icon-email:before {
  content: "\e915";
}
.icon-eye:before {
  content: "\e916";
}
.icon-facebook:before {
  content: "\e917";
}
.icon-fb:before {
  content: "\e918";
}
.icon-flag:before {
  content: "\e919";
}
.icon-glass:before {
  content: "\e91a";
}
.icon-heart:before {
  content: "\e91b";
}
.icon-heart-full:before {
  content: "\e91c";
}
.icon-heart-new:before {
  content: "\e91d";
}
.icon-house-area:before {
  content: "\e91e";
}
.icon-id:before {
  content: "\e91f";
}
.icon-like:before {
  content: "\e920";
}
.icon-link:before {
  content: "\e921";
}
.icon-location:before {
  content: "\e922";
}
.icon-mail:before {
  content: "\e923";
}
.icon-main-home:before {
  content: "\e924";
}
.icon-minus:before {
  content: "\e925";
}
.icon-namber:before {
  content: "\e926";
}
.icon-notification:before {
  content: "\e927";
}
.icon-pdf:before {
  content: "\e928";
}
.icon-phone:before {
  content: "\e929";
}
.icon-Plot:before {
  content: "\e92a";
}
.icon-plus:before {
  content: "\e92b";
}
.icon-printer:before {
  content: "\e92c";
}
.icon-question:before {
  content: "\e92d";
}
.icon-refresh:before {
  content: "\e92e";
}
.icon-search:before {
  content: "\e92f";
}
.icon-send:before {
  content: "\e930";
}
.icon-share:before {
  content: "\e931";
}
.icon-star:before {
  content: "\e932";
}
.icon-star-full:before {
  content: "\e933";
}
.icon-telega:before {
  content: "\e934";
}
.icon-tel-full:before {
  content: "\e935";
}
.icon-tg:before {
  content: "\e936";
}
.icon-truck:before {
  content: "\e937";
}
.icon-twiter:before {
  content: "\e938";
}
.icon-update:before {
  content: "\e939";
}
.icon-user-big:before {
  content: "\e93a";
}
.icon-vacations:before {
  content: "\e93b";
}
.icon-vb:before {
  content: "\e93c";
}
.icon-win-ad:before {
  content: "\e93d";
}
.icon-win-down:before {
  content: "\e93e";
}
.icon-win-faq:before {
  content: "\e93f";
}
.icon-win-logout:before {
  content: "\e940";
}
.icon-win-plus:before {
  content: "\e941";
}
.icon-win-setting:before {
  content: "\e942";
}
.icon-win-sun:before {
  content: "\e943";
}
.icon-win-user:before {
  content: "\e944";
}
.icon-win-wallet:before {
  content: "\e945";
}
.icon-wp:before {
  content: "\e946";
}
.icon-youtube:before {
  content: "\e947";
}
