/* Стили для .post-anad */
.post-anad {
   &__body {
      max-width: 970px;
      margin: 0 auto;
   }

   &__cell {
      margin: 32px 0;
      background: #ffffff;
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      padding: 32px 32px 32px 32px;

      .toggle-input {
         padding-left: 220px;
      }
   }

   &__cell-head {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 0 0 20px 0;
      border-bottom: 1px solid $color-border;
   }

   &__cell-title {
      @include fontMain(700, normal, 16px, $color-text);
      margin: 0;
   }
}
.input-row {
   margin: 12px 0;
   display: flex;
   align-items: center;
   gap: 20px;
   &__title {
      display: block;
      @include fontMain(700, 140%, 16px, #000);
      margin: 16px 0;
      width: 100%;
      max-width: 200px;
      text-align: right;
   }

   &__body {
   }
}
.form-end {
   display: flex;
   flex-direction: column;
   gap: 20px;
   padding-left: 220px;
   &__btn {
      padding: 20px 32px;
      font-size: 20px;
      background: $color-acent;
   }
   p {
      @include fontMain(400, normal, 16px, $color-text);
      margin: 0;
   }
}

/* -select-anad */
.select-custom-anad {
   margin: 12px 0;
   display: flex;
   gap: 20px;
   label {
      display: block;
      @include fontMain(700, 140%, 16px, #000);
      margin: 16px 0;
      width: 100%;
      max-width: 200px;
      text-align: right;
      span {
         color: red;
      }
   }
   &__box {
      position: relative;
      width: 100%;
   }
   &__arrow {
      position: absolute;
      top: 50%;
      right: 16px;
      transform: translateY(-50%);
      pointer-events: none;
      &:before {
         font-size: 10px;
         color: $color-border;
      }
   }
   select {
      cursor: pointer;
      appearance: none;
      padding: 16px 20px;
      width: 100%;
      display: block;
      background: #fff;
      border: 1px solid #e9e9e9;
      border-radius: 5px;
      @include fontMain(400, 140%, 16px, $color-text-second);
      box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);

      &:focus {
         border: 1px solid #cfcfcf;
      }
   }
}
/* -input-anad */
.input-custom-anad {
   margin: 12px 0;
   display: flex;
   gap: 20px;
   label {
      display: block;
      @include fontMain(700, 140%, 16px, #000);
      margin: 16px 0;
      width: 100%;
      max-width: 200px;
      text-align: right;
      span {
         color: red;
      }
   }
   &__input {
      width: 100%;
   }

   input {
      cursor: pointer;
      appearance: none;
      padding: 16px 20px;
      width: 100%;
      display: block;
      background: #fff;
      border: 1px solid #e9e9e9;
      border-radius: 5px;
      @include fontMain(400, 140%, 16px, $color-text-second);
      box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);

      &:focus {
         border: 1px solid #cfcfcf;
      }
   }

   &_unit {
      .input-custom-anad__input {
         position: relative;
      }
      input {
         padding-right: 64px;
      }
      .input-unit {
         position: absolute;
         top: 50%;
         right: 20px;
         transform: translate(0, -50%);
      }
   }
   &__text {
      margin: 0;
      @include fontMain(400, normal, 14px, $color-text-second);
   }

   textarea {
      padding: 12px 16px;
      width: 100%;
      display: block;
      background: #fafafa;
      border: 1px solid #e9e9e9;
      border-radius: 8px;
      @include fontMain(400, 140%, 16px, #000);
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      resize: none;
      height: 100px;
      &:focus {
         border: 1px solid #cfcfcf;
      }
   }
}
.input-unit {
   @include fontMain(400, normal, 16px, $color-text-second);
   margin: 0;
}
/* ------- адаптация ------- */
/* ------- end ------- */

/* Стили для радио кнопок - Choose a category */
.choose-category {
   margin: 32px 0;
   background: #ffffff;
   box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
   border-radius: 10px;
   padding: 32px 32px 32px 32px;
   &__head {
      padding: 0px 20px 20px 20px;
   }

   &__title {
      @include fontMain(700, normal, 18px, $color-text);
      margin: 0;
   }

   &__body {
      border-top: 1px solid $color-border;
      border-bottom: 1px solid $color-border;

      display: flex;
      justify-content: space-between;
   }

   &__coll {
      flex: 0 0 33.33333%;
      padding: 10px;
      max-height: 330px;
      overflow: auto;
      &:not(:last-child) {
         border-right: 1px solid $color-border;
      }
   }
}
.input-radio-cat {
   input {
      display: none;
   }
   label {
      cursor: pointer;
      @include fontMain(400, 140%, 20px, $color-text-second);
      position: relative;
      padding: 0px;
      padding: 8px 24px;
      display: block;
      border-radius: 50px;
   }
   input:checked + label {
      color: #fff;
      background: $color-acent;
   }
}
/* ------- адаптация ------- */
/* ------- end ------- */

/* Стили для .cehck-box */
.cehck-box {
   &__body {
      padding: 20px 0;
      display: grid;
      gap: 6px 10px;
      grid-template-columns: repeat(4, 1fr);
   }

   &__down {
      display: flex;
      align-items: center;
      justify-content: space-between;
      hr {
         display: block;
         flex: 1 1 auto;
         height: 1px;
         background: $color-border;
      }
   }

   &__btn {
      @include fontMain(700, normal, 16px, $color-text-second);
      padding: 10px 32px;
   }
}
/* ------- адаптация ------- */
/* ------- end ------- */

/* Стили для -------- */
/* ------- адаптация ------- */
/* ------- end ------- */

/* Стили для -------- */
/* ------- адаптация ------- */
/* ------- end ------- */

/* Стили для -------- */
/* ------- адаптация ------- */
/* ------- end ------- */

/* Стили для -------- */
/* ------- адаптация ------- */
/* ------- end ------- */

/* Стили для -------- */
/* ------- адаптация ------- */
/* ------- end ------- */

/* Стили для -------- */
/* ------- адаптация ------- */
/* ------- end ------- */

/* Стили для -------- */
/* ------- адаптация ------- */
/* ------- end ------- */
