/* Базовая стилизация табов */
.tab {
   padding: 30px 0;
   &__container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 15px;
   }
   &__body {
   }
   &__nav {
   }

   &__buttons {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
   }

   &__button {
      padding: 10px 15px;
      background: #333;
      transition: 0.3s;

      @include fontMain(600, 125%, 18px, #fff);
   }
   &__button:hover {
      background: #555;
      cursor: pointer;
   }
   &__button.active {
      background: red;
   }

   &__content {
      margin-top: 30px;
      position: relative;
   }

   &__item {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;

      opacity: 0;
      visibility: hidden;
      transition: 0.3s;
      h1 {
         @include fontMain(600, 125%, 28px, #111);
         margin-bottom: 15px;
      }
      p {
         @include fontMain(400, 125%, 14px, #444);
      }
   }
   &__item.active {
      position: relative;
      opacity: 1;
      visibility: visible;
   }
}
