/* ================================================================================================================ */
/* СТИЛИ ОБНУЛЕНИЯ ================================================================================================ */
/* ================================================================================================================ */
@import "nullstyle";

/* ================================================================================================================ */
/* ПОДКЛЮЧЕНИЕ ШРИФТОВ ============================================================================================ */
/* ================================================================================================================ */
@import "fonts";

/* ================================================================================================================ */
/* СТИЛИ UI ======================================================================================================= */
/* ================================================================================================================ */
@import "templates";

/* ================================================================================================================ */
/* СТИЛИ ПОПАП ОКОН =============================================================================================== */
/* ================================================================================================================ */
@import "popup";

/* ================================================================================================================ */
/* СТИЛИ ТАБОВ =============================================================================================== */
/* ================================================================================================================ */
@import "tab";

/* ================================================================================================================ */
/* СТИЛИ card СТРАНИЦЫ  ====================================================================================== */
/* ================================================================================================================ */
@import "card";

/* ================================================================================================================ */
/* СТИЛИ search СТРАНИЦЫ  ====================================================================================== */
/* ================================================================================================================ */
@import "search";

/* ================================================================================================================ */
/* СТИЛИ ТЕКСТОВОЙ СТРАНИЦЫ  ====================================================================================== */
/* ================================================================================================================ */
@import "text";

/* ================================================================================================================ */
/* СТИЛИ ОБЩИХ БЛОКОВ  ============================================================================================ */
/* ================================================================================================================ */
@import "blocks";

/* ================================================================================================================ */
/* ГЛАВНАЯ СТРАНИЦА =============================================================================================== */
/* ================================================================================================================ */
@import "index";

/* ================================================================================================================ */
/* СТРАНИЦА НЕДВИЖИМОСТИ =============================================================================================== */
/* ================================================================================================================ */
@import "real-estate";
