modules = ["web", "python-3.11", "nodejs-20", "python3"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 server.py"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5904
externalPort = 3000

[[ports]]
localPort = 23636
externalPort = 3001

[deployment]
deploymentTarget = "static"
publicDir = "."
run = ["sh", "-c", "deploy"]

[userenv]

[userenv.shared]
OAUTH_REDIRECT_URI = "https://5598a117-b706-47f3-b730-7bfffbf33d8c-00-1eu86075dpd9f.pike.replit.dev/oauth/callback"
GOOGLE_ADS_REFRESH_TOKEN = "1//0gtcy9ufmc_FoCgYIARAAGBASNwF-L9Ir02LiR9kad2k8UzSR0Hl-gbiCNPLoN7wfSVsNPITkdIwC_oRmfXX-iGk548XwPdZ3-V8"
GOOGLE_MAPS_PLACES_KEY = "AIzaSyA6bsmJETSUoJ1h_NkmDlb7M3zA77I1uw8"
